img {
    max-width: 100%;
}

footer {
    display: inline-block;
}

.code {
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.2rem;
}

.quick-links {
    position: fixed;
    margin-top: 20px;
}

.quick-links .active {
    font-weight: bold;
}

.quick-links .sublink {
    margin-left: 1.5rem;
}

.quick-links a {
    text-decoration: none;
}

.shortcuts a {
    text-decoration: none;
    color: #706fd3;
}

.quick-links ul {
    list-style: none;
    padding-inline-start: 0;
}

.quick-links ul li {
    margin-bottom: 1rem;
}

.grid-content {
    width: 80%;
    float: right;
}

.subject {
    border-radius: 15px 15px 15px 15px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
}

.subjectTitle {
    background-color: #d3d1ed;
    padding: 2px 20px 2px 20px;
    border-radius: 15px 15px 0px 0px;
}

.subjectBox {
    background-color: #f0f8ff;
    color: black;
    padding: 20px;
    border-radius: 0px 0px 15px 15px;
    margin-bottom: 20px;

}

.linkBox {
    padding: 15px;
    background-color: #6bd0ea;
    color: white;
    float: right;
    box-shadow:0px 0px 5px rgba(0, 0, 0, 0.3);
}

#yellowBox {
    padding: 20px;
    margin-bottom: 30px;
    background-color: yellow;
    height: 150px;
    width: 200px;
    box-shadow: 10px 10px 5px #aaaaaa;
}

.grid-container-nolinks .grid-content{
    width: 100%;
}

#exampleList {
    list-style: none;
}

#exampleListSquare {
    list-style: square;
}

#exampleListCustom {
    list-style: disc;
    list-style-image: url('../images/test.png');
}

#changeBox {
    background-color: blue;
    height: 150px;
    width: 200px;
}

.grid-box {
    width: auto; 
    padding: 20px;
    font-size: 20px;
}


.links {
    overflow: hidden;
}


.links .icon {
    display: none;
  }
  
@media only screen and (max-width: 600px) {
    .grid-container {
      display: block;
    }
    .task-grid {
      display: block;
    }
    .grid-container-3 {
        text-align: center;
    }
    .grid-box {
        width: 45%;
        font-size: 1rem;
    }

    .subjectHeader {
        font-size: 30px;
        padding-left: 20px;
    }
    .logo {
        width: 50%;
    }

    .logo img {
        max-width: 100%;
    }

    .icon {
        padding: 20px;  
        font-size: 40px; 
    }
  }

  @media screen and (max-width: 600px) {
    .links .nav-item {display: none;}
    .links .icon {
      float: right;
      display: block;
    }
  }
  
  @media screen and (max-width: 600px) {
    .blue-box a {
        font-size: 18px;
    }
    .links.responsive .icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .links.responsive .nav-item {
      float: none;
      display: block;
      text-align: left;
      padding: 10px;
      position: relative;
    }
    .links.links.responsive {
        width: 100%;
    }
    .navigation .links {
        padding-top: 0px;
    }
    .fa-caret-down {display:none;}
    .blue-box {
        margin: 20px;
        padding: 10px;
    }

    .grid-content {
        margin: 10px; 
        float:none; 
        width: auto;
    }

    .quick-links {
        display: none;
    }

    .code {
        font-size: 15px;
    }

    .subject {
        margin-right: 20px;
    }
  }