img {
    max-width: 100%;
}

footer {
    display: inline-block;
}

.code {
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.2rem;
}

.quick-links {
    position: fixed;
    margin-top: 20px;
}

.quick-links .active {
    font-weight: bold;
}

.quick-links .sublink {
    margin-left: 1.5rem;
}

.quick-links a {
    text-decoration: none;
}

.shortcuts a {
    text-decoration: none;
    color: #706fd3;
}

.quick-links ul {
    list-style: none;
    padding-inline-start: 0;
}

.quick-links ul li {
    margin-bottom: 1rem;
}

.grid-content {
    width: 80%;
    float: right;
}

.subject {
    border-radius: 15px 15px 15px 15px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
}

.subjectTitle {
    background-color: #d3d1ed;
    padding: 2px 20px 2px 20px;
    border-radius: 15px 15px 0px 0px;
}

.subjectBox {
    background-color: #f0f8ff;
    color: black;
    padding: 20px;
    border-radius: 0px 0px 15px 15px;
    margin-bottom: 20px;

}

.linkBox {
    padding: 20px;
    background-color: #6bd0ea;
    color: white;
    float: right;
}

#yellowBox {
    padding: 20px;
    margin-bottom: 30px;
    background-color: yellow;
    height: 150px;
    width: 200px;
    box-shadow: 10px 10px 5px #aaaaaa;
}

#exampleList {
    list-style: none;
}

#exampleListSquare {
    list-style: square;
}

#exampleListCustom {
    list-style: disc;
    list-style-image: url('../images/test.png');
}

#changeBox {
    background-color: blue;
    height: 150px;
    width: 200px;
}