:root {
  --theme-color-standard: #008080;
  --theme-color-font: #0f1d28; 
  --theme-color-first: #a79bce; 
  --theme-color-second: #6A5ACD; 
  --theme-color-third: #000080; 
}

@font-face {
  font-family: myFirstFont;
  src: url(/fonts/neue-haas-grotesk-display-pro-cufonfonts/NeueHaasDisplayMediu.ttf);
}

.grid-container {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-gap: 1rem;
  max-width: 75%;
  margin: auto;
}

.grid-container a,
.subjects a {
  text-decoration: none;
  font-size: 1.5rem;
}

.grid-item-box {
  width: 100%;
  padding-top: 2rem;
  padding-bottom: 2rem;
  background-color: var(--theme-color-second);
  color: white;
  border-radius: 10px;
}

.subjects {
  display: grid;
  grid-template-columns: 20% 20% 20% 20% 20%;
  grid-gap: 1rem;
}

.subjects .grid-item-box {
  padding-top: 4rem;
  padding-bottom: 4rem;
}


.box-container {
  display: grid;
  grid-template-columns: 32% 32% 32%;
  grid-gap: 1rem;
}

.box {
  width: 100%;
  padding-top: 2rem;
  padding-bottom: 2rem;
  background-color: var(--theme-color-first);
  color: white;
  border-radius: 10px;
  font-size: large;
}

.box-container a {
  text-decoration: none;
}