@charset "utf-8";
/* CSS Document */

:root {
  --theme-color-standard: #008080;
  --theme-color-font: #0f1d28; 
  --theme-color-first: #a79bce; 
  --theme-color-second: #6a5acd; 
  --theme-color-third: #000080; 
}

@font-face {
  font-family: myFirstFont;
  src: url(/resources/fonts/neue-haas-grotesk-display-pro-cufonfonts/NeueHaasDisplayMediu.ttf);
}

body, a, p, li {
  font-family: myFirstFont;
  margin: 0;
  background-color: fefefe;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: myFirstFont;
}

.header {
  padding: 0rem 10rem 10rem 10rem;
  text-align: center;
}

.header h1 {
  font-size: 4.5rem;
}

.header h3 {
  font-size: 1.5rem;
  font-weight: lighter;
}

.main-content {
  max-width: 100rem;
  margin-right: auto;
  margin-left: auto;
  min-height: 600px
}

.navigation {
  width: 100%;
  color: #333;
  display: inline-block;
  background-color: var(--theme-color-standard);
}

.navigation .links {
  padding-top:60px;
  color: white; 
}

.navigation .links a {
  color: white;
}

.navigation img{
  padding:20px;
}

.links {
  text-align: right;
}

.nav-item a {
  color: #333;
  text-decoration: none;
  transition: 0.3s;
  font-size: 1.125rem;
  padding: 30px;

}

.nav-item a:hover {
  color: #133b6f;
}

.logo {
  float: left;
}

#logo {
  font-size: 40px;
  font-weight: bold;
  padding: 0px;
}

#logo img {
  max-height: 100px;
}

.subjectHeader {
  font-size: 50px;
}

/******************************************/

footer {
  height: 50px;
  background-color: var(--theme-color-third);
  position: initial;
  bottom: 0;
  left: 0;
  width: 100%;
  color: #fefefe;
  text-align: center;
  margin-top: 50px;
  padding: 40px 0px 40px 0px;
}

#countdown {
  font-size: 30px;
  border: 1px solid darkslategray;
  background-color: rgb(107, 139, 139);
  color: white;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
}

/************************************************************/ 


.dropbtn {
  padding: 16px;
  font-size: 16px;
  border: none;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: var(--theme-color-standard);
  min-width: 100%;
  z-index: 1;
  text-align: left;
  margin-top:10px;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown:hover .dropdown-content {display: block;}

.ext-icon {
  width:20px;
}

  
@media only screen and (max-width: 600px) {
  .grid-container {
    display: block;
  }
  .task-grid {
    display: block;
  }
  .grid-container-3 {
      text-align: center;
  }
  .grid-box {
      width: 45%;
      font-size: 1rem;
  }

  .subjectHeader {
      font-size: 30px;
      padding-left: 20px;
  }
  .logo {
      width: 50%;
  }

  .logo img {
      max-width: 100%;
  }

  .icon {
      padding: 20px;  
      font-size: 40px; 
  }
}

@media screen and (max-width: 600px) {
  .links .nav-item {display: none;}
  .links .icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .blue-box a {
      font-size: 18px;
  }
  .links.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .links.responsive .nav-item {
    float: none;
    display: block;
    text-align: left;
    padding: 10px;
    position: relative;
  }
  .links.links.responsive {
      width: 100%;
  }
  .navigation .links {
      padding-top: 0px;
  }
  .fa-caret-down {display:none;}
  .blue-box {
      margin: 20px;
      padding: 10px;
  }

  .header {
    padding: 0px;
  }
}