:root {
  --theme-color-standard: #008080;
  --theme-color-font: #0f1d28; 
  --theme-color-first: #a79bce; 
  --theme-color-second: #6A5ACD; 
  --theme-color-third: #000080; 
}

main {
  max-width: 100rem;
  margin-right: auto;
  margin-left: auto;
  min-height: 600px;
}


.subjectHeader {
  font-size: 50px;
}

.grid-container-5 {
  display: grid;
  grid-template-columns: 20% 20% 20% 20% 20%;
}

.grid-container-5 a {
  text-decoration: none;
  color: black;
}

.grid-box {
  border-radius: 10px;
  background-color: var(--theme-color-second);
  padding: 20px 0px 20px 0px;
  font-size: 1.5rem;
  text-align: center;
  transition: background-color 0.3s ease;
  display: inline-block;
  width: 33%;
  color: white;
  margin: 0px 0px 10px 0px;
}

.grid-box:hover {
  background-color: var(--theme-color-first);
}

.box-content {
  display: none;
}

.box-header:hover+.box-content {
  display: block
}

.active {
  display: block;
}

.box-header {
  background-color: rgba(2, 32, 70, 0.6);
  border: 1px solid gray;
  padding: 20px;
  margin-right: 20px;
  text-align: center;
  font-weight: bolder;
  font-size: 1.5rem;
}


.grid-container {
  display: grid;
  grid-template-columns: auto auto;
}

.grid-container a {
  text-decoration: none;
  font-size: 1.5rem;
}

.grid-item-box {
  width: 100%;
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: #0084a5;
  color: white;
}

.blue-box {
  border-radius: 10px;
  line-height: 2rem;
  font-size: 1.1rem;
  background-color: #d3d1ed;
  color: #333;
  font-size: 18px;
  font-family: sans-serif;
  padding: 0px 20px 20px 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  height: fit-content;
  margin-bottom: 20px;
}

h2 {
  color: #706fd3;
}

.links-right {
  height: fit-content;
  margin-bottom: 30px;
  margin-left: 20px;
}

.links-right a {
  color: #333;
}

.links-right a:hover {
  color: #666;
}
  
@media only screen and (max-width: 600px) {
  .grid-container-3, .boxes {
      text-align: center;
  }
}

.yearplan {
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  background-color: #d3d1ed;
  border-radius: 10px;
}

.yearplan .period {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  padding: 0px 10px 10px 10px; 
  background-color: #fefefe;
  margin:10px;
}

.yearplan .period h3 {
  text-transform: uppercase;
  color: #706fd3;
  margin-bottom:5px;
}

.yearplan .period ul {
  padding-inline-start: 20px;
  margin: 5px;
}